[access "refs/*"]
        owner = group android_kernel_samsung_n80xx
                label-Verified = -1..+1 group android_kernel_samsung_n80xx
	forgeAuthor = group Administrators
	forgeCommitter = group Administrators
	forgeServerAsCommitter = group Administrators
[receive]
        requireChangeId = true
[submit]
        mergeContent = true
        action = merge always
